.suggestions_users {
  overflow-x: hidden;
  .suggestions_user {
    // height: 50px;
    margin-top: 10px;
    text-align: start;
    margin-bottom: 10px;
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 22% 67% 8%;
    justify-content: start;
    align-items: center;

    .user_profile_pic {
      border-radius: 50%;
      cursor: pointer;
      object-fit: cover;
    }

    .user_uname {
      padding: 0px 4px !important;
      .user_username {
        margin: -5px 0px 0px !important;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.726) !important;
        font-size: 15px !important;
        transition: all 0.2s ease;
        cursor: pointer;
        text-transform: lowercase !important;

        &:hover {
          text-decoration: underline;
        }
      }

      .user_txt {
        margin: 0px;
        font-size: 14px !important;
        color: rgba(0, 0, 0, 0.514);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    .follow_btns {
      .follow_btn {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.726);
        font-size: 19px;
        transition: all 0.1s ease;

        &:hover {
          color: #fb2577a9;
        }
      }

      .followed_btn {
        cursor: pointer;
        font-size: 19px;
        color: #fb2577a9;
      }
    }
  }

  .loader_div {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    .loader {
      width: 30px;
      height: 30px;
      border: 4px solid #fb2577a6;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
      text-align: center;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
