.suggestions_component {
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  border-radius: 3px;
  .suggestions_component_title {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      color: rgba(0, 0, 0, 0.521);
      margin-bottom: 15px;
      margin-top: 15px;
    }

    .seeall_btn {
      border: none;
      background: none;
      cursor: pointer;
      font-size: 14px;
      transition: all 0.2s ease;
      color: rgba(0, 0, 0, 0.938);
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
