.post_comp {
  background-color: #f6fcfd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;

  .user_profile {
    border-radius: 50%;
    object-fit: cover;
  }

  input[type="text"] {
    width: 75%;
    padding: 11px 20px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
  }
}
