@mixin menuStyle {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 17px;
  transition: all 0.3s ease;
}

@mixin menuStyleHover {
  font-weight: 500;
  color: #fb2577e0;
}

@mixin reg-button {
  background: none;
  border: 1px solid black;
  color: black;
  padding: 10px 15px;
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.4s ease;
  cursor: pointer;
}

@mixin reg-button-hover {
  background-color: black;
  color: white;
}

.navbar {
  width: 100%;
  text-align: center;
  padding-left: 10px;
  height: 80px;
  background-color: #f6fcfd;
  z-index: 100;
  transition: all 0.2s ease;
  position: fixed;
  top: 0;
  left: 0;

  .navbar_main {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: 10% 80% 2%;
    justify-content: space-between;
    align-items: center;
    .nav_brand {
      margin-top: -10px;
      h5 {
        cursor: pointer;
        font-weight: bold;
        font-size: 23px;
      }
    }

    .nav_right {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-top: -10px;

      .search {
        border-bottom: 2px solid gray;
        padding: 2px 4px;
        border-radius: 3px;
        display: flex;
        align-items: center;

        input {
          border: none;
          outline: none;
          background: none;
          color: rgb(80, 80, 80);
          font-size: 14px;
        }

        .search_icon_close {
          height: 18px;
          width: 18px;
          cursor: pointer;
          margin-top: -2px;
          color: gray;
          margin-right: 4px;
        }

        button {
          border: none;
          background: none;

          .search_icon {
            // margin-right: -15px;
            height: 18px;
            width: 18px;
            cursor: pointer;
            margin-top: -2px;
            color: gray;
          }
        }
      }

      .nav_menu {
        // margin-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
        p {
          @include menuStyle();
          padding: 10px 7px;
        }

        p:hover {
          @include menuStyleHover();
        }

        .active {
          font-weight: 500;
          color: #fb2577e0;
        }
      }

      .nav_reg {
        width: 95px;
        cursor: pointer;

        .nav_regg {
          display: flex;
          align-items: center;
          position: relative;
          padding: 5px 0px;
          z-index: 100;

          &:hover .user_popup {
            display: block; /* Display the popup when hovering on the parent */
          }

          .profilePic {
            border-radius: 50%;
            margin-right: 5px;
            object-fit: cover;
          }

          .username {
            text-decoration: underline;
            padding: 0px;
          }

          .user_popup {
            display: none; /* Hide the popup by default */
            position: absolute; /* Set position to absolute to position the popup relative to its parent */
            bottom: -60px; /* Position the popup 50px below the parent */
            right: 90; /* Center the popup horizontally */
            background-color: #fff; /* Set the background color */
            padding: 5px; /* Add some padding */
            border-radius: 5px; /* Add some border radius */
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add some box shadow for a nice effect */
            text-align: left;
            transition: all 0.2s ease;

            p {
              display: block;
              margin: 5px 0px;
              color: #333;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        button {
          @include reg-button();
        }

        button:hover {
          @include reg-button-hover();
        }
      }

      .res_navbar {
        display: none;
        .res_nav_iconn {
          cursor: pointer;
          margin-top: 5px;
        }

        .res_nav_menu {
          display: block;
          position: fixed;
          top: 80px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.76);
          z-index: 10;

          .res_nav_menuu {
            position: relative;
            width: 70%;
            background-color: #f6fcfd;
            overflow: hidden;
            height: 100vh;
            padding: 20px 5px;

            -webkit-animation: scale-up-hor-left 0.4s
              cubic-bezier(0.39, 0.575, 0.565, 1) both;
            animation: scale-up-hor-left 0.4s
              cubic-bezier(0.39, 0.575, 0.565, 1) both;

            p {
              display: block;
              @include menuStyle();
              padding: 5px 8px;
            }

            p:hover {
              @include menuStyleHover();
            }

            .res_nav_reg {
              // display: none;

              button {
                @include reg-button();
                margin-top: 5px;
                margin-left: 10px;
              }

              button:hover {
                @include reg-button-hover();
              }
            }
          }
        }
        @-webkit-keyframes scale-up-hor-left {
          0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
          100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
        }
        @keyframes scale-up-hor-left {
          0% {
            -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
          100% {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    .navbar_main {
      display: grid;
      grid-template-columns: 8% 85% 2%;
      .nav_brand {
        h5 {
          font-size: 21px;
        }
      }

      .nav_right {
        .nav_menu {
          p {
            font-size: 16px;
            padding: 7px 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    .navbar_main {
      padding-left: 10px;
      display: grid;
      grid-template-columns: 5% 87% 2%;

      .nav_right {
        .search {
          margin-right: 10px;
          margin-left: auto;
          width: 60%;
          display: flex;
          align-items: center;

          input {
            width: 70%;
          }
        }
        .nav_menu {
          display: none;
        }

        .nav_reg {
          margin-left: auto;
          width: 100px;

          button {
            display: none;
          }
        }

        .res_navbar {
          display: block;
          margin-right: 4%;
          position: relative;
          .res_nav_menu {
            .res_nav_reg {
              display: block;

              button {
                padding: 7px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    .navbar_main {
      display: grid;
      grid-template-columns: 5% 80% 2%;
      .nav_right {
        .nav_reg {
          display: flex;
          margin-right: -60px;
          // margin-left: 0px;
          .nav_regg {
            .username {
              display: none;
            }

            .user_popup {
              display: none; /* Hide the popup by default */
              position: absolute; /* Set position to absolute to position the popup relative to its parent */
              bottom: -60px; /* Position the popup 50px below the parent */
              width: 80px;
              left: -10px;

              p {
                font-size: 15px;
              }
            }
          }

          .profilePic {
            height: 30px;
            width: 30px;
          }
        }

        .search {
          margin-right: -30px;
          width: 40%;
          display: flex;
          align-items: center;

          button {
            border: none;
            background: none;

            .search_icon {
              margin-right: -15px;
              margin-bottom: -3px;
              padding: 0px;
            }
          }
          .search_icon_close {
            margin-right: 0px;
            margin-bottom: -3px;
            padding: 0px;
          }

          input {
            width: 60%;
          }
        }

        .res_navbar {
          .res_nav_menu {
            margin-right: -15px;
            text-align: center;
            .res_nav_reg {
              display: block;
              z-index: 20 !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .navbar {
    .navbar_main {
      .nav_right {
        .nav_reg {
          display: flex;
          margin-right: -65px;
        }
        .search {
          margin-right: -45px;
          width: 40%;
          display: flex;
          align-items: center;

          input {
            width: 60%;
          }
        }
      }
    }
  }
}
