@mixin small_chngs {
  // padding: 10px;
  border-radius: 5px;
  background-color: #f6fcfd;
  height: fit-content;
}

.homepage {
  margin-top: 95px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: 23% 42% 25%;
  gap: 25px;
  //   justify-content: center;

  .homepage_profile {
    @include small_chngs();
  }

  .homepage_feed {
    border-radius: 3px;
  }

  .homepage_users {
    @include small_chngs();
  }
}
