.registration_page {
  .registration_page_main {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 150px;
    margin-top: 130px;
    text-align: center;

    .registration_page_form {
      padding: 20px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      background-color: #f6fcfd;
      border-radius: 3px;

      .registration_progress {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 18px;
        // overflow: hidden;
        border-radius: 10px;
        background-color: white;
        z-index: -2;
        transition: all 0.3s ease;

        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

        .registration_progress_widht {
          background-color: #607eaaa2;
          height: 18px;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          .registration_progress_status {
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.loader {
  display: block;
  height: 32px;
  width: 120px;
  border-bottom: 5px solid black;
  box-sizing: border-box;
  animation: balancing 2s linear infinite alternate;
  transform-origin: 50% 100%;
  position: absolute;
  top: 40%;
  left: 44%;
  transform: translate(-40%, -44%);
}
.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #ff3d00;
  animation: ballbns 2s linear infinite alternate;
}
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 20px;
  width: 20px;
  transform: translate(-50%, 100%);
  border-radius: 50%;
  border: 6px solid black;
}
@keyframes ballbns {
  0% {
    left: 0;
    transform: translateX(0%);
  }
  100% {
    left: 100%;
    transform: translateX(-100%);
  }
}
@keyframes balancing {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@media screen and (max-width: 768px) {
  .registration_page {
    .registration_page_main {
      .registration_page_form {
        padding: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .registration_progress {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .loader {
    position: absolute;
    top: 45%;
    left: 36%;
    transform: translate(-45%, -36%);
  }
}
