.registration_page {
  .registration_page_main {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 150px;
    margin-top: 130px;
    text-align: center;

    .registration_page_form {
      padding: 20px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      background-color: #f6fcfd;
      border-radius: 3px;

      .registration_progress {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 18px;
        // overflow: hidden;
        border-radius: 10px;
        background-color: white;
        z-index: -2;
        transition: all 0.3s ease;

        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

        .registration_progress_widht {
          background-color: #2650b1;
          height: 18px;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;

          .registration_progress_status {
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .registration_page {
    .registration_page_main {
      .registration_page_form {
        padding: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .registration_progress {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
