.users_page {
  .users_page_main {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
    display: grid;
    //   grid-template-columns: 33% 60%;
    //   gap: 25px;
    background-color: #f6fcfd;

    .users_page_nav {
      padding: 10px 0px;
      .users_page_nav_main {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2px;
        margin-bottom: 5px;

        .notactive {
          margin: 0px 10px 0px 3px;
          font-size: 18px;
          cursor: pointer;
          color: rgba(0, 0, 0, 0.623);
          padding: 3px 5px;
        }

        .active {
          margin: 0px 10px 0px 3px;
          cursor: pointer;
          font-size: 18px;
          background-color: #e7e9e9ce;
          padding: 3px 5px;
          border-radius: 4px;
        }
      }
    }
  }
}
