.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.76);
  z-index: 101;

  .popup_main {
    position: relative;
    width: 40% !important;
    max-height: 400px;
    background-color: #f6fcfd;
    overflow: hidden;
    display: flex;
    justify-content: center;
    animation: slide-in 0.3s ease;
    overflow-y: scroll;
    padding: 15px 0px;
    border-radius: 2px;
    .popup_users {
      h3 {
        margin: -5px 0px 20px;
        color: rgba(0, 0, 0, 0.726);
      }

      @keyframes slide-in {
        from {
          transform: scale(0.5);
          opacity: 0;
        }

        to {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

  .close_popup {
    position: absolute;
    top: 130px;
    right: 250px;
    z-index: 100;
    cursor: pointer;
    padding: 7px;
    font-size: 20px;
    background-color: rgb(95, 95, 95);
    color: #f6fcfd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1999 !important;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 992px) {
  .popup {
    .popup_main {
      position: relative;
      width: 50% !important;
    }

    .close_popup {
      position: absolute;
      top: 130px;
      right: 130px;
      z-index: 100;
    }
  }
}

@media screen and (max-width: 767px) {
  .popup {
    .popup_main {
      position: relative;
      width: 60% !important;
    }

    .close_popup {
      position: absolute;
      top: 130px;
      right: 70px;
      z-index: 100;
    }
  }
}

@media screen and (max-width: 576px) {
  .popup {
    .popup_main {
      position: relative;
      width: 85% !important;
    }

    .close_popup {
      position: absolute;
      top: 130px;
      right: 20px;
      z-index: 100;
    }
  }
}
